# What are the accepted documents for a minor's verification?

**Source:** https://help.bunq.com/articles/what-are-the-accepted-documents-for-a-minors-verification
**Topics:** page, Signup

---

Hey bunqers 🌈,

Ensuring the safety and security of our younger users is a top priority. That's why we have specific guidelines for verifying the identity of our minor users. In this topic, we'll be discussing the types of documents we need from both the minor and their parents for minor's verification 🚀

### What are the accepted documents for a minor's verification?

The accepted documents remain the same for minors too, therefore you can find a full list of which document you can use during the verification [here](<https://together.bunq.com/d/3355>).

## What documents do we accept as a proof of relation with your guardian?

Currently, we accept the following types of documents:

  * Birth certificate 

  * Adoption documents

  * Court order establishing custody

  * Court order establishing guardianship

  * Official document issued by Government or Embassy that clearly states name of the guardian, name of the minor and their relation

 _Dutch residents_ 🇳🇱 _can request a birth certificate_[ _here_](<https://www.rijksoverheid.nl/wetten-en-regelingen/productbeschrijvingen/uittreksel-uit-gezagsregister>) _for free and also find more information on this_[ _page_](<https://www.government.nl/topics/municipalities/question-and-answer/how-can-i-request-an-extract-or-an-official-copy-of-a-civil-status-record>) _._

## Signup flow

  1. Enter and confirm your phone number 

  2. Provide the default personal info, including date of birth

  3. Get parental approval

  4. Once the Parent approves, the Child is asked to upload their ID document

## Approval Options

Both the minor and the parent have to have a bunq account. There's no other way.  
There are two options to verify a minor. After handing in the documents:

  1. The QR page is shown. Parent or legal guardian can then open the scanner from their app to scan and verify (<16 years)

  2. The minor can fill in their parents' phone or email address connected to their bunq account

Loading...

[Back to Knowledge](<../categories/knowledge>)

### Topics

[Signup](<../topics/signup>)

### Other Categories

[Knowledge](<../categories/knowledge>)

[Features](<../categories/features>)

[Promotions](<../categories/promotions>)

[Troubleshooting](<../categories/troubleshooting>)

[Announcements](<../categories/announcements>)

[Changelog](<../categories/changelog>)