# What ID documents are accepted for my identity verification?

**Source:** https://help.bunq.com/articles/what-id-documents-are-accepted-for-my-identity-verification
**Topics:** Signup

---

**Hey bunqers 🌈,**

Let’s get the right, physical documents in hand to complete the identity verification in just 5 minutes! Please remember that photocopies or scans are _**not**_ accepted.

### For countries within EU 🇪🇺

The following documents are accepted for countries within the EU. 

  * An EU **plastic** Driver's license (our partner Incode does _**not**_ accept paper driver's licenses)

  * ID cards. Please note that **only plastic ID cards are accepted.**

  * Residence permits: *Valid EU residence permit cards are accepted - the document provided should be valid and not expired. The endorsement sticker is not accepted.

  * Passports.

  * As of August 6, 2025, we accept Irish Passport Cards.

  * Newly issued ID cards from:

    * 🇧🇬 Bulgaria, issued after June 17, 2024

    * 🇬🇷 Greece, issued after September 25, 2023 

    * 🇷🇴 Romania, issued after March 28, 2025

    * 🇸🇰 Slovakia, issued after December 18, 2024

**Please note:** ID cards from Denmark 🇩🇰 and Ireland 🇮🇪 **aren't accepted**. Please provide your passport or driver's license. 

## For non-EU countries

**Only passports** from the following countries are accepted:

Argentina 🇦🇷, Australia 🇦🇺, Brazil 🇧🇷, Canada 🇨🇦, Chile 🇨🇱, China 🇨🇳, Colombia 🇨🇴, Ecuador 🇪🇨, Hong Kong 🇭🇰, Iceland 🇮🇸, India 🇮🇳, Indonesia 🇮🇩, Israel 🇮🇱, Japan 🇯🇵, Liechtenstein 🇱🇮, Malaysia 🇲🇾, Mexico 🇲🇽, Morocco 🇲🇦, New Zealand 🇳🇿, Norway 🇳🇴, Peru 🇵🇪, Singapore 🇸🇬, South Africa 🇿🇦, South Korea 🇰🇷, Switzerland 🇨🇭, Turkey 🇹🇷, Ukraine 🇺🇦, United Kingdom 🇬🇧 , United States 🇺🇸, Uruguay 🇺🇾, Venezuela 🇻🇪 and Vietnam 🇻🇳 

  * **Important note:** We also accept Ukrainian ID card or passport during your verification as a user from **Ukraine** 🇺🇦 as per [this article](<https://together.bunq.com/d/47908-update-for-ukrainian-refugees>).

  * **Important note:** As of June 30, 2022, all new and existing **Russian** 🇷🇺 users will be asked to provide a residence permit in order to get verified. You'll receive an in-app announcement with further instructions on how to provide the required document. Keep in mind to provide both sides of the residence permit so that we can verify your account faster.

  * **Important note:** We only accept residence permits issued in one of these following countries : AT 🇦🇹, BE 🇧🇪, BG 🇧🇬, CY 🇨🇾, CZ 🇨🇿, DE 🇩🇪, DK 🇩🇰, EE 🇪🇪, ES 🇪🇸, FI 🇫🇮, FR 🇫🇷, GR 🇬🇷, HR 🇭🇷, HU 🇭🇺, IE 🇮🇪, IT 🇮🇹, LT 🇱🇹, LU 🇱🇺, LV 🇱🇻, MT 🇲🇹, NL 🇳🇱, PL 🇵🇱, PT 🇵🇹, RO 🇷🇴, SE 🇸🇪, SI 🇸🇮, SK 🇸🇰 

  * **Important note:** UK ID cards, driver's licenses, and residence permit's aren't accepted. 

If you're from a non-EU country that's not included in the previous list, you must have a European passport or residence permit ready for verification.

[Sign up now](<https://app.adjust.com/is3en2u?redirect=https://www.bunq.com/signup>) and get your bunq account in less than 5 minutes! 🚀

## What ID documents aren't accepted?

Types of ID documents

We currently don't accept the following documents:

  * VISA

  * Temporary ID cards

  * Diplomatic ID cards

  * Damaged ID cards

  * Expired or outdated documents

#### What ID documents aren’t accepted from EU countries?

ID cards from Denmark 🇩🇰 and Ireland 🇮🇪 **aren't accepted**. Please provide your passport or driver's license instead.

#### What ID documents aren’t accepted from non-EU countries?

Passports, ID cards, driving licenses or residence permits from the following countries are not accepted:

Afghanistan 🇦🇫, Albania 🇦🇱, Algeria 🇩🇿, Andorra 🇦🇩, Angola 🇦🇴, Armenia 🇦🇲, Azerbaijan 🇦🇿, Bahamas 🇧🇸, Bahrain 🇧🇭, Bangladesh 🇧🇩, Barbados 🇧🇧, Belarus 🇧🇾, Belize 🇧🇿, Benin 🇧🇯, Bermuda 🇧🇲, Bhutan 🇧🇹, Bolivia 🇧🇴, Bosnia and Herzegovina 🇧🇦, Botswana 🇧🇼, Cambodia 🇰🇭, Cameroon 🇨🇲, Cape Verde 🇨🇻, Congo 🇨🇬, Costa Rica 🇨🇷, Cote d'Ivoire 🇨🇮, Cuba 🇨🇺, Dominican Republic 🇩🇴, Egypt 🇪🇬, El Salvador 🇸🇻, Eritrea 🇪🇷, Ethiopia 🇪🇹, Faroe Islands 🇫🇴, Fiji 🇫🇯, Gabon 🇬🇦, Gambia 🇬🇲, Georgia 🇬🇪, Ghana 🇬🇭, Greenland 🇬🇱, Guatemala 🇬🇹, Guinea 🇬🇳, Guyana 🇬🇾, Haiti 🇭🇹, Honduras 🇭🇳, Iran 🇮🇷, Iraq 🇮🇶, Jamaica 🇯🇲, Jordan 🇯🇴, Kazakhstan 🇰🇿, Kenya 🇰🇪, Kosovo 🇽🇰, Kuwait 🇰🇼, Kyrgyzstan 🇰🇬, Laos 🇱🇦, Lebanon 🇱🇧, Macedonia 🇲🇰, Madagascar 🇲🇬, Malawi 🇲🇼, Maldives 🇲🇻, Mali 🇲🇱, Mauritius 🇲🇺, Moldova 🇲🇩, Mongolia 🇲🇳, Montenegro 🇲🇪, Mozambique 🇲🇿, Myanmar 🇲🇲, Namibia 🇳🇦, Nepal 🇳🇵, Nicaragua 🇳🇮, Nigeria 🇳🇬, Palestine 🇵🇸, Oman 🇴🇲, Pakistan 🇵🇰, Panama 🇵🇦, Paraguay 🇵🇾, Philippines 🇵🇭, Qatar 🇶🇦, Russia 🇷🇺, Rwanda 🇷🇼, Saudi Arabia 🇸🇦, Senegal 🇸🇳, Serbia 🇷🇸, Seychelles 🇸🇨, Sri Lanka 🇱🇰, Suriname 🇸🇷, Syria 🇸🇾, Thailand 🇹🇭, Tunisia 🇹🇳, Turkmenistan 🇹🇲, Uganda 🇺🇬, United Arab Emirates 🇦🇪, Uzbekistan 🇺🇿, Yemen 🇾🇪, Zambia 🇿🇲, Zimbabwe 🇿🇼

## My proof of identity document was rejected, why?

There can be a few reasons a document isn’t accepted as your proof of identity, here are some common issues we encounter that leads us to reject the proof of identity:

  1. **Damaged or expired document** \- We can’t accept IDs that are expired, torn, or unreadable. Make sure your document is valid and in good condition.

  2. **Blurry or unclear photo** \- If the photo of your ID is blurry, too dark, or missing parts of the document, we can’t verify it. Make sure everything is visible, well-lit, and easy to read.

  3. **Info doesn’t match** -The information on your ID must match the details you gave us. If anything is different, we won’t be able to accept it.

  4. **Scans or screenshots** \- We only accept a photo of the original physical document. Scans, photocopies, printouts, or photos of a screen are not accepted.

  5. **Poor selfie quality** \- Your selfie must clearly show your face. Make sure you're in a well-lit area and nothing is covering your face.

  6. **Wrong camera angle** \- Hold your phone at face level and follow the instructions on screen. If the angle is off, the image may not be usable.

  7. **Someone else in the frame** \- The verification must be done by you only. If someone else is helping or visible in the background, it can cause your verification to fail.

  8. **Missing back side of document** \- If you’re using an ID card, driver’s license, or residence permit, we need to see **both the front and back sides**.

Loading...

[Back to Knowledge](<../categories/knowledge>)

### Topics

[Signup](<../topics/signup>)

### Other Categories

[Knowledge](<../categories/knowledge>)

[Features](<../categories/features>)

[Promotions](<../categories/promotions>)

[Troubleshooting](<../categories/troubleshooting>)

[Announcements](<../categories/announcements>)

[Changelog](<../categories/changelog>)