# What should I do if my device isn’t compatible for Identity verification?

**Source:** https://help.bunq.com/articles/what-should-i-do-if-my-device-isnt-compatible-for-identity-verification
**Topics:** Signup

---

Hey bunqers 🌈,

To fully unlock the power of your bunq Personal account, you'll need to complete the verification process. However, there are certain devices that aren't compatible with our identity verification. If you're using one of these devices, you may encounter some roadblocks during verification.

### Which devices aren’t compatible?

If you're trying to complete your verification using emulators, hooks, or rooted devices, you might run into some issues. Not sure what these terms mean? Let's break them down:

  * **Emulator** \- think of an emulator as a clever piece of software or hardware that allows apps designed for one system to run smoothly on another.

  * **Hooks** \- hooks are mechanisms in software that intercept and redirect function calls or events, often used for debugging, monitoring, or modifying program behavior.

  * **Rooted device** \- a rooted device refers to a smartphone or tablet that has been modified to obtain administrative privileges, granting users deeper access and control over the device's operating system and functionality.

  * **MacOS** \- If you have downloaded the bunq app on a MacOS device you won’t be able to complete your verification. This includes MacOS device like Macbook, iMac, Mac mini, and Mac Pro.

  * **Jailbroken iOS devices** \- these are iOS devices that have Apple’s software restrictions removed to allow greater control over the device.

## How should I continue with my verification?

You can continue with your verification by starting it on a different device that aligns with our [security regulations](<https://www.bunq.com/documents/personal-account>). To start your verification once again, follow the steps mentioned below:

  1. Open the app

  2. Enter and confirm your phone number

  3. Tap **Get Started**

  4. Fill out your personal information and follow the verification flow

Further information on the verification process can be found [here](<https://together.bunq.com/d/24112>).

Loading...

[Back to Knowledge](<../categories/knowledge>)

### Topics

[Signup](<../topics/signup>)

### Other Categories

[Knowledge](<../categories/knowledge>)

[Features](<../categories/features>)

[Promotions](<../categories/promotions>)

[Troubleshooting](<../categories/troubleshooting>)

[Announcements](<../categories/announcements>)

[Changelog](<../categories/changelog>)